@charset "UTF-8";
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
 background-color: rgb(255, 255, 255);
  font-size: 100%;
  margin: 0;
  background-image:url(mangobg.PNG);
  background-repeat:repeat;
}

/* link styles */
a:link, a:visited { color: #DC6903; }
a:focus, a:hover, a:active { color: #F9AB33; }

a {
  text-decoration: none;
  border-bottom: 1px dotted;
  padding-bottom: .2em;
}

/* header styles */
header {
  background-size: cover; 
  text-align: center;
  height: 15em;
}
header p {
  font-style: italic;
  font-size: 1.2em;
  margin-top: -12px;
}
header h1 {
  margin-top: 1.5em;
}
h1   {color: #0b0a53;
    text-align: center;
    font-family: georgia;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px; }
    h2
        {color: #0b0a53;
            text-align: center;
            font-family: georgia;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 30px; }
    

            .navbar {
                overflow: hidden;
                background-color: #333;
                margin: 0;
              padding: 0;
              list-style-type: none;
              display: flex;
              justify-content: center;
            }

.navbar a {
  display: block;
border: 1px solid;
border-radius: .5em;
padding: .5em 1em;
margin: .5em;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}

.dropdown {
    float: left;
    overflow: hidden;   
}       

.dropdown .dropbtn {
    font-size: 16px;  
    outline: none;
    color: rgb(252, 252, 252);
    background-color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
border: 1px solid;
border-radius: .5em;
padding: .5em 1em;
margin: .5em;
justify-content: center;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(223, 99, 16);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(223, 99, 16);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif
}
video {
    margin-left: auto;
    margin-right: auto;
    display: block
}


.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(223, 99, 16);
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 205, 159);
  line-height: 1.8em;
  color: #000000;
  padding: 1em;
  border: double 4px #EADDC4;
  border-radius: 25px;
  margin: 2.5%;
    
}
h3 {
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #c72b2d;
  border-top: 1px solid;
  border-left: 3px solid;
  padding-left: 1em;
  margin-top: 2.5em;
}
p.more {
    font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase; 
  font-size: .8em;
  clear: left;
}
/* misc styles */
footer {
  color: #000000;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
h2 {
    font-family: Arial, Helvetica, sans-serif;
}
.day {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif
  font-size: .8em;
  text-transform: uppercase;
}
main img {
    display: block;
    margin: .5em auto;
  }
@media screen and (max-width 480px) {
    main img {
      float: center;
      margin: 0 1em 1em 0;
    }

    @media screen and (max-width: 600px) {

    main, h2, h3 {
        font-family: Arial, Helvetica, sans-serif
    }
    h2, h3 {
      font-weight: bold;
    }
    main {
      line-height: 1.8em;
      padding: 1em;
      border: double 4px #EADDC4;
      margin: 1.5%; 
    }
}
  